{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load cloudinary %}

{% block content %}

<div class="container">
    <button class="btn btn-info btn-sm" id="site" data-toggle="modal" data-target=".bd-example-modal-xl">
        Post a Project
    </button>

{% if user.is_authenticated %}
        <div class="modal fade bd-example-modal-xl" id="ModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modalcard">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload a project</h5>
                        <button type="button" class="close" data-dismiss="modal" id="mod_cls" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post"  id="Q_A" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form%}
                            <input type="submit" class="btn btn-sm btn-info" value="Post">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}





<h1 class="text-center">All Projects</h1>
    <div class="row">
        
    
        {% for project in projects %}
            <div class="col-sm-12 col-lg-6">
                <h2 class="text-center title"><a href="{% url 'project' project.id %}">{{project.title|title}}</a></h2>
                {% cloudinary project.image format="jpg" width=500 height=400 crop="fill"%}
        
                <p class="lead">Posted by: <a href="{% url 'userprofile' project.user.username %}">{{project.user.username|title}}</a> on {{project.date}}</p>
                <p><a href="{% url 'project' project.id %}" class="btn btn-danger">View and Rate the Project</a></p>
            </div>
        
        {% endfor %}
        
    </div>

    
        

</div>



{% endblock %}

{% block scripts %} 
    {{block.super}}
    <script type="text/javascript" src="{%static 'js/scripts.js'%}"></script>
  {% endblock %}

