{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}

<div class="container">
    <h1>Awwwards</h1>

<button class="btn btn-info btn-sm" id="site" data-toggle="modal" data-target=".bd-example-modal-xl">
   Post a Project
</button>

{% if user.is_authenticated %}
        <div class="modal fade bd-example-modal-xl" id="ModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload a project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form%}
                            <input type="submit" class="btn btn-sm btn-info" value="Post">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}





<h2>All Projects</h2>
{% if projects %}
    {% for project in projects %}
        <h4>{{project.title|title}}</h4>
    {% endfor %}
{% endif %}

</div>



{% endblock %}

