<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        
      </div>
      <!-- Adding a search form  -->
      <div class="">
         
        <div class=" nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <span class="pull-right acount">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">
                    <button type="button" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-user"></span> Account 
                    </button>
                            <span class="caret"></span>
                        </a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="{% url 'homePage' %}">Home</a>
                    </li>
                    <li>
                      <a href="">Profile</a>
                    </li>
                    <li>
                      <a href="/logout">Logout</a>
                    </li>
                  </ul>
                </li>
            </span>
          {% else %}
            <a class='btn btn-default' href="/accounts/login">Login</a>
          {% endif %}
      </div>
    </div>
  </nav>