{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load cloudinary %}

{% block content %}
    <div class="container">
        <p class="lead">A Project from <a href="{% url 'userprofile' project.user.username %}">{{project.user.username}}</a> posted on {{project.date}}</p>
        <div>
            {% cloudinary project.image format="jpg" width=1200 height=600 crop="fill"  %}
        </div>
        <div>
            <h2 class="title2">{{project.title|title}}</h2>
            <p class="para">{{ project.description }}</p>
            <a href="{{ project.url }}" class="btn btn-success">Visit Site</a>
        </div>

        <div>
            <h2 class="title2">Ratings</h2>
            
        </div>
        <div>
            
            {% if user.is_authenticated %}
            <div class="form">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-sm btn-info">Rate</button>
                </form>
            </div>
            
            {% endif %}
            
        </div>

    </div>

{% endblock %}